body {
    background: lightgray;
}

form {
    margin-top: 2%;
}

table {
    margin-top: 5%;
    background: #ffffff;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;

}

/*Fix chart height issue*/
svg {
    height: 150px;
}

/*Find the 1st td inside of each row and the first td and its child div*/
td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}